@use '../SCSS/lib/hub' as *;

@include layouSet(nth($homeImgInfo,1),nth($homeImgInfo,2), nth($homeImgInfo,3), nth($homeImgInfo,4));

body{
    font-family: $bodyStyle;
    font-size: 16px;
}


.homeImg{
    background-color: red;
}