:root{
    --semanticTagWidth : 100%;
    --innerBoxWidth : 75%;
    --NormalPadding : 5%;
    --marginCenter : 0 auto;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, main, section, footer{
    width: var(--semanticTagWidth);
    .innerBox{
        width: var(--innerBoxWidth);
        margin: var(--marginCenter);
    }
}

a{
    color: black;
    text-decoration: none;

    &:hover{
        color: blue;
    }
}

header{
    background-color: rgb(252, 244, 254);
    z-index: 1;
    position: fixed;
    top : 0;

    .innerBox{
        position: relative;
        padding-top : var(--NormalPadding);
        h1{
            position: absolute;
        }

        ul{
            position: absolute;
            list-style: none;
        }

        li{
            display: inline;
        }

        .headerLogo{
            bottom : 0;
        }

        .headerMenu{
            bottom : 5px;
            right : 10%;
            li{
                margin  : 0px 40px;
            }
        }
    }
}

main{
    margin-top: var(--NormalPadding);
    --mainPadding : 25%;
    background-image: url(images/homeBg.png);
    padding-top : var(--mainPadding);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section{
    .innerBox{
        .profile{
            position: relative;
            width: 100%;
            overflow: hidden;
            background-color: red;
            img{
                display: block;
                float: left;
                width: 100px;
                height: 100px;
                margin-right: 50px;
            }
        }
    }
}