:root{
    --semanticTagWidth : 100%;
    --innerBoxWidth : 75%;
    --NormalPadding : 5%;
    --marginCenter : 0 auto;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header, main, section, footer{
    width: var(--semanticTagWidth);
    .innerBox{
        width: var(--innerBoxWidth);
        margin: var(--marginCenter);
    }
}

a{
    color: black;
    text-decoration: none;

    &:hover{
        color: blue;
    }
}

header{
    background-color: rgb(252, 244, 254);
    z-index: 1;
    position: fixed;
    top : 0;

    .innerBox{
        position: relative;
        padding-top : var(--NormalPadding);
        h1{
            position: absolute;
        }

        ul{
            position: absolute;
            list-style: none;
        }

        li{
            display: inline;
        }

        .headerLogo{
            bottom : 0;
        }

        .headerMenu{
            bottom : 5px;
            right : 10%;
            li{
                margin  : 0px 40px;
            }
        }
    }
}

main{
    margin-top: var(--NormalPadding);
    --mainPadding : 25%;
    background-image: url(images/homeBg.png);
    padding-top : var(--mainPadding);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section{
    .innerBox{
        .profile{
            margin-top: 2%;
            position: relative;
            overflow: hidden;
            img{
                display: block;
                float: left;
                width: 25%;
                height: 250px;
            }
            .profileText{
                width: 75%;
                float: right;
                padding-left: 5%;
                h1{
                    color: rgb(6, 186, 251);
                    margin-top: 5%;
                }
                h3{
                    margin-top: 2%;
                }
                li{
                    margin-left: 5%;
                }
                span{
                    font-weight: bold;
                }
            }
        }
        .Awards{
            margin-top: 2%;
            height: 1000px;
            .my-table{
                width: 100%;
                border-collapse: collapse;
                margin-top: 20px;
                th,td{
                    border: 1px solid #ccc;
                    padding: 12px;
                    text-align: center;
                }
                th{
                    background-color: #f4f4f4;
                }
                th:nth-child(1){
                    width: 30%; 
                }

                th:nth-child(2){
                    width: 70%; 
                }
            }
        }
    }
}