@use 'scss' as sc;

$width : 100%;
$height : 100%;

%li_display{
    display: inline;
}

header{
    $height: 200px;
    @include sc.boxSet(4,$width,$height);
    background-color: red;

    ul{
        $width: 80%;
        @include sc.boxSet(2,$width,30px);
        left:10%;
        bottom: 0px;
        display: flex;
        justify-content: space-evenly;
        background-color: blue;
    }
    li{
        @extend %li_display;
        font-size: 20px;
    }
}