@use '../base/variables' as *;
@use '../base/mixins' as *;

@include layouSet(nth($headerInfo,1),nth($headerInfo,2), nth($headerInfo,3), nth($headerInfo,4));

header{
    background-color: rgba(135, 206, 235, 0.5);
    h1{
        @include positoinSet(absolute,null,null,null,10%);
        @include boxSizeSet(20%,100%);
        @include middleSort();
        font-size: 2vw; 
    }

    ul{
        @include positoinSet(absolute,null,5%,null,null);
        @include boxSizeSet(50%,100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;    
        li{
            @include herfStyle();
        }
        
    }
}