@use './variables';

@mixin boxSizeSet($w, $h){
    @if $w != null{
        width: $w;
    }

    @if $h != null{
        height: $h;
    }
}

@mixin layouSet($indexName, $w, $h, $position){
    #{$indexName}{
        @include boxSizeSet($w, $h);
        position: $position;
    }
}

@mixin liStyleSet(){
    display: inline;
}